.DS_Store
adj_review.csv
adj_summary.csv
amenities.csv
calendar.csv
CleanedPlus.csv
listings.csv
listingsAll.csv
neighbourhoods.csv
project_cache/
reviews.csv
reviewsAll.csv
reviewsAllPlus.csv
reviewsPlus.csv
neighbourhoods.geojson
Exploratory_words_files/
Exploratory_words_cache/
.RData
.Rhistory
Exploratory_words_images.Rmd
Exploratory_words_images.html
Exploratory_words_images_cache/
Exploratory_words_images_files/
Exploratory_all_cache/
Exploratory_all_files/